.Container {
    border-bottom: 4px solid #F0F3F8;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;

}
.LeftSide input {
    width: 25vw;
    border-radius: 10px;
    background-color: #F0F3F8;
    height: 4vh;
    border: none;
    padding-left: 1rem;
    font-size: 1.2rem;
}
.LoginButton {
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    border-left: 3px solid #F0F3F8;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginButton img {
    width: 2rem;
    margin-left: 0.5rem;

}