.title{
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    letter-spacing: 2px;
}
.line{
    background: black;
    width: 80vw;
    height: 1px;

}
.titleGroup{
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 5%;
}

.eventWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns in each row */
    gap: 50px; /* Gap between grid items */
    width: 80vw;
    margin: 0 auto;

}

.eventPage{
    height: fit-content !important;
    margin-bottom: 5%;
}


@media screen and (max-width: 1024px){
    .eventWrapper{
        grid-template-columns: repeat(2, 1fr); /* Three columns in each row */
    }
}
@media screen and (max-width: 500px){
    .eventWrapper{
        grid-template-columns: repeat(1, 1fr); /* Three columns in each row */
    }
}
