.Container {
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.TitleDiv {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    padding-left:5rem;
    justify-content: space-between;
    margin-bottom: 2rem;

}

.Title {
    color: #000;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 0;
    letter-spacing: 5px;
}
.Line {
    width: 80%;
    height: 3px;
    background: #F0F3F8;
}
.RecentEventTitle {
    color: #000;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 10px;
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;

}

.HightLightedEventsDiv {

}

.AddEventButton {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    width: 25%;
    height: 35vh;
    border-radius: 30px;
    border: 3px solid #DAE0EC;
    background: rgba(0, 0, 0, 0.00);
    margin-left: 5rem;
}

.AddEventButton img {
    background-color: #DAE0EC;
    border-radius: 100%;
    width: 2.5rem;
}
