.Container {
    height: 100vh;
    width: 17vw;
    background-color: #F0F3F8;
    padding-top: 1.5rem;
}
.LogoDiv {
    display: flex;
    align-items: center;
    justify-content: center;

}
.LogoDiv img {
    width: 12vw;

}

.NavElementsDiv{
    width: 100%;
    margin-top: 2.5rem;
    height: 65vh;
}
.NavElement {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.50);
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 4.5rem;
    text-decoration: none;
}

.NavElement img {
    width: 1.4rem;
    margin-right: 1rem;
    margin-bottom: 0.4rem;
}


.ActiveNavElement {
    font-weight: 600;
}

.SocialMediaDiv {
    width: 100%;

}

.SocialMediaDiv p {
    color: #000;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;

}

.socialMediaList {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.socialMediaImg {
    width: 1.3rem;
}