html.lenis {
  height: auto;
}
body {
  background: #F2F2F7;
}


.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.PageSection{
  height: 100vh;
  border-bottom: 1px solid black;
}