@font-face {
  font-family: 'fira Sans';
  src: url('./assets/fonts/Fira_Sans/FiraSans-Regular.ttf');
}
html {
  height: auto;
}
body {
  background: #F2F2F7;
  font-family: "fira Sans", serif !important ;
}



.PageSection{
  height: 100vh;
}